<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssw322.project.surveylemur">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".EditTestShortAnswerActivity"
            android:label="Short Answer"
            android:parentActivityName=".CreateTestActivity"></activity>
        <activity android:name=".EditTestEssayActivity"
            android:label="Essay"
            android:parentActivityName=".CreateTestActivity"/>
        <activity android:name=".EditTestMultipleAnswerActivity"
            android:label="Multiple Answer"
            android:parentActivityName=".CreateTestActivity"/>
        <activity android:name=".EditTestMultipleChoiceActivity"
            android:label="Multiple Choice"
            android:parentActivityName=".CreateTestActivity"/>
        <activity
            android:name=".CreateSurveyActivity"
            android:label="Create a Survey" />
        <activity
            android:name=".CreateTestActivity"
            android:label="Create a Test"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ViewFormActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>